.tour-stats-bar-container {
  direction: rtl;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 16px 0;
}

.stats-key {
  margin-bottom: 8px;
}

.tour-stats-bar-container li {
  list-style: none;
  text-align: center;
  padding: 8px;
}

.tour-stats-bar-container i {
  margin: 0 4px;
}