body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-family: 'Assistant', sans-serif!important;
}

:root {
  --background: white;
  --headers: black;
  --text: #1b1b1b;
  --text-light: white;
  --text-gray: #858585;
  --primary: #a0cb41;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.small {
  width: 60px;
  height: 60px;
  z-index: 99;
  border: 3px solid var(--primary);
}

.extra-small {
  width: 40px;
  height: 40px;
  z-index: 99;
}

.green-border {
  border: 3px solid var(--primary);
}

.overlapping-avatar {
  margin-top: -50px;
  position: relative;
  margin-left: 16px;
}

.container {
  padding: 74px 16px;
  background-color: var(--background);
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
}

/* BUTTONS */

button {
  font-family: 'Assistant', sans-serif!important;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 4px;
}

button:focus {
  outline: none;
}


button:hover {
  cursor: pointer;
}

.text-button {
  color: var(--primary);
  font-weight: 600;
  background-color: transparent;
  margin-top: 8px;
  font-size: 1rem;
  border: none;
}

.text-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.primary-button {
  background-color: var(--primary);
  color: var(--text-light);
  padding: 8px 16px;
}

.primary-button:focus {
  box-shadow: 0px 1px 10px #00000030;
}

.primary-button:hover {
  box-shadow: 0px 1px 10px #00000015;
}

.fb-button {
  background-color: #3b5998;
  padding: 8px 16px;
  color: var(--text-light);
}

.icon {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  text-align: center;
  padding-top: 8px;
}

.round-button {
  border: none;
  background-color: var(--background);
  font-size: 1.2rem;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  text-align: center;
  padding-top: 8px;
  box-shadow: 0px 1px 10px #00000015;
}

.round-button:hover {
  box-shadow: 0px 1px 10px #00000030;
}

/* Only for media query < 1080 */
/* .icon:hover {
  background-color: #00000015;
} */

/* .icon:focus {
  background-color: #00000035;
  outline: none;
} */

.rtl {
  direction: rtl;
}

.primary {
  color: var(--primary);
}

.subtitle {
  color: var(--text-gray);
}

input {
  padding: 8px 16px;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  border: 1px solid var(--text-gray);
  font-family: 'Assistant', sans-serif!important;
}

form {
  margin: 0 auto;
  width: 100%;
}

.form-container {
  max-width: 350px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 8px;
}

/* BOX SHADOW */
.box-shadow-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999999; 
  background-color: var(--background);
}