* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Assistant', sans-serif;
  background-color: #f4f4f4;
}

:root {
  --background: white;
  --headers: black;
  --text: #1b1b1b;
  --text-light: white;
  --text-gray: #858585;
  --primary: #a0cb41;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.small {
  width: 60px;
  height: 60px;
  z-index: 99;
  border: 3px solid var(--primary);
}

.extra-small {
  width: 40px;
  height: 40px;
  z-index: 99;
}

.green-border {
  border: 3px solid var(--primary);
}

.overlapping-avatar {
  margin-top: -50px;
  position: relative;
  margin-left: 16px;
}

.container {
  padding: 74px 16px;
  background-color: var(--background);
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
}

/* BUTTONS */

button {
  
}

button:hover {
  cursor: pointer;
}

.text-button {
  color: var(--primary);
  font-weight: 600;
  background-color: transparent;
  margin-top: 8px;
  font-size: 1rem;
  border: none;
}

.text-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.primary-button {
  width: 100%;
  max-width: 300px;
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: var(--text-light);
  font-size: 0.8rem;
}

.primary-button:hover {
  box-shadow: 0px 1px 10px #00000015;
}

.primary-button:focus {
  outline: none;
  box-shadow: 0px 1px 10px #00000030;
}

.icon {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  text-align: center;
  padding-top: 8px;
}

.icon:hover {
  background-color: #00000015;
}

.icon:focus {
  background-color: #00000035;
  outline: none;
}

.rtl {
  direction: rtl;
}

.primary {
  color: var(--primary);
}

.subtitle {
  color: var(--text-gray);
}