.navbar-container {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background);
  padding: 8px 16px;
  box-shadow: 0px 0px 10px #00000033;
  border-top: 1px solid #00000015;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
}

.navbar-container ul {
  margin: 0;
  padding: 0;
}

.navbar-container li {
  list-style: none;
}

.navbar-container a {
  text-decoration: none;
  color: var(--text);
}

.selected {
  color: var(--primary)!important;
}

/* Desktop navbar */

.desktop-navbar-container {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  padding: 8px 16px;
  background-color: var(--background);
  box-shadow: 0px 1px 10px #00000015;
}

.desktop-navbar-menu {
  display: flex;
  justify-content: space-between;
}

.desktop-nav-group {
  display: flex;
}

.desktop-navbar-menu li {
  list-style: none;
}

.desktop-nav-item {
  margin: 0 8px;
  padding: 8px 0
}

.desktop-active {
  color: var(--primary);
}