.topbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px 16px;
  /* box-shadow: 0px 1px 10px #00000030; */
  z-index: 9999;
  height: 56px;
  background-color: var(--background);
}

.topbar-menu {
  display: flex;
  justify-content: space-between;
}

.topbar-menu li {
  list-style: none;
}

.topbar-side {
  width: 50px;
}

.topbar-center {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
}

#back-button {
  padding-top: 2px;
}

@media only screen and (min-width: 768px) {
  .topbar-container {
    display: none;
  }
}